<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>chat home</title>
</head>
<body>
<h1>채팅방 홈</h1>
<h2>채팅방 생성</h2>
<div class="container" id="app" v-cloak>
    <div class="row">
        <div class="col-md-12">
            <form th:action="@{/chats/rooms}" th:object="${chatRoomCreateRequestDto}" method="post">
                <div class="form-group">
                    <label for="memberId">Member ID:</label>
                    <input type="number" id="memberId" name="memberId" class="form-control" th:field="*{memberId}" required>
                </div>
                <!-- 다른 필드들도 추가할 수 있습니다 -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>